@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Poppins:wght@500&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(360deg, #506b56, #7ba47e, #9cd09c, #a0d6a0  );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.box {
    width: 600px;
    height: 100vh;
    background: linear-gradient(360deg, #506b56, #7ba47e);
    box-shadow: 0px -5px 4px 1px rgba(255, 255, 255, 0.377);
    border-radius: 25px;
    }

body {
    margin: 0px;
    text-align: center;
    background: linear-gradient(180deg, #64DBA0, #327956 );
}

img {
    border-radius: 20px;
}


h1, p {
    color: rgb(231, 231, 231);
    text-align: center justify;
}

h1 {
    font-family: 'Junge', cursive;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 2px;
}

p {
    padding: 10px;
    margin: 2px;
    font-family: 'Poppins', sans-serif;
}

span {
    color: #abe4ab;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

.heart {
    font-size: 50px;
    color: #ff3366;
    cursor: pointer;
}

#nao {
    font-size: 24px;
    color: #ffeded;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 97vh;
    transform: translate(-50%, -50%);
}

.nao:hover {
    text-outline: 2px solid #ffcc00; /* Adicione uma borda interna ao texto quando o botão estiver em hover */
}

.proposta {
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}